/* sku-label-sheet settings for Avery 5160 label sheet */

#sku-label-sheet
{
	/* Padding should be set to the distance from page edge to */
	/* cell corner minus the cell margins. */
	/*        Top   Right  Bottom   Left */
	padding: 0.5in 0.125in 0.5in 0.125in;
}

#sku-label-sheet .cell
{
	/* Width and Height match label dimensions */
	width: 2.625in;
	height: 1in;
	/* Margin should be set to half the distance between labels. */
	margin: 0in 0.0625in 0in 0.0625in;
	
	font-size: 8pt;
}
