body
{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Source Sans Pro', sans-serif;
}

#footer
{
	font-size: 8pt;
	margin-top: 60px;
}

.sku-container
{
	margin: 5px auto 5px auto;
	position: relative;
	border: 1px solid #000000;
	border-radius: 15px;
	padding: 15px;
}

.sku-container input
{
	float: right;
}

.sku-container p
{
	display: table-cell;
	width: 45%;
	float: left;
	margin: 5px;
	text-align: right;
}

.sku-container p input
{
	margin-top: -7px;
}

.sku-container .show,.hide
{
	position: absolute;
	top: 0px;
	right: 5px;
	font-size: 20pt;
	cursor: pointer;
}
.sku-container .show,.sku-entry-header
{
	display: none;
}
.sku-entry-header span
{
	width: 30%;
}

.sku-container .requires-value
{
	background: #ffaa00;
}

#sku-entry-empty
{
	display: none;
}

#overlay
{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: #fafafa;
	display: none;
}

.dialog
{
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%);
	border: 1px solid #000000;
	padding: 0px 25px 0px 25px;
	border-radius: 15px;
	text-align: center;
	display: none;
}

/* Print-specific stylesheet items */
@media print {
	/* Turn off all padding and margins and stuff for page and body */
	body
	{
		margin: 0px;
		padding: 0px;
	}
	
	#content,#page
	{
		width: 100%; 
		margin: 0px; 
		float: none;
	}

	@page
	{
		margin: 0px;
		padding: 0px;
	}
}

/* SKU label sheet settings for all sheet types */
#sku-label-sheet
{
	display: none;
	width: 8.5in;
	margin: 0px;
	/*box-shadow: inset 0 0 0 1000px #555;*/
}

#sku-label-sheet .cell
{
	position: relative;
	float: left;
	overflow: hidden;
	/* box-shadow: inset 0 0 0 1px #888; */
}

#sku-label-sheet .cell-contents
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#sku-label-sheet .cell p
{
	margin: 0px;
	text-align: center;
}

#sku-label-sheet .preview
{
	border-radius: 3px;
	box-shadow: inset 0 0 0 1px #333;
}

#sku-cell-empty
{
	display: none;
}
