/* sku-label-sheet settings for the SKU Sample Sheet */

#sku-label-sheet
{
	padding: 0.5in;
}

#sku-label-sheet .cell
{
	width: 3in;
	height: 2in;
	margin: 0in 0.25in 0in 0.25in;
	font-size: 14pt;
	box-shadow: inset 0 0 0 1px #888;
}
